In [2]:
import pandas as pd

Data Loading and Exploration

In [ ]:
#Paths to datasets
SALES_PATH = "/app/data/raw/sales_data.csv"
FEATURES_PATH = "/app/data/raw/features_data.csv"
STORES_PATH = "/app/data/raw/stores_data.csv"

In [10]:
sales_df = pd.read_csv(SALES_PATH, parse_dates=['Date'])
features_df = pd.read_csv(FEATURES_PATH, parse_dates=['Date'])
stores_df = pd.read_csv(STORES_PATH)

print(sales_df.head())
print(features_df.head())
print(stores_df.head())

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False
   Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0      1  05/02/2010        42.31       2.572        NaN        NaN
1      1  12/02/2010        38.51       2.548        NaN        NaN
2      1  19/02/2010        39.93       2.514        NaN        NaN
3      1  26/02/2010        46.63       2.561        NaN        NaN
4      1  05/03/2010        46.50       2.625        NaN        NaN

   MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday
0        NaN        NaN        NaN  211.096358         8.106      False
1        NaN        NaN        NaN  211.242170         8.106       True
2        NaN        NaN        NaN  211.289143         8.106      False
3        NaN        NaN        NaN  211.319643         8.106      False
4        NaN        NaN        NaN  211.350143         8.106      False
   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [ ]:
# Merge sales with features
df = pd.merge(sales_df, features_df, on=['Store', 'Date'], how='left')
#Merge stores info
df = pd.merge(df, stores_df, on='Store', how='left')

df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y,Type,Size
0,1,1,05/02/2010,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
1,1,1,12/02/2010,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True,A,151315
2,1,1,19/02/2010,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False,A,151315
3,1,1,26/02/2010,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False,A,151315
4,1,1,05/03/2010,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False,A,151315

Feature Engineering

In [ ]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['WeekofYear'] = df['Date'].dt.isocalendar().week

#Lag and Rolling mean features for sales
df['Lag_1'] = df.groupby('Store')['Weekly_Sales'].shift(1)
df['Rolling_Mean_4'] = df.groupby('Store')['Weekly_Sales'].shift(1).rolling(window=4).mean()

df.fillna(method='ffill', inplace=True)
df.dropna(inplace=True)

Train-Test Split

train_df = df[df['Date'] < '2012-01-01']
test_df = df[df['Date'] >= '2012-01-01']